<%# <h1>Listing products</h1> %>

<%# <table> %>
<%#   <thead> %>
<%#     <tr> %>
<%#       <th>Name</th> %>
<%#       <th>Description</th> %>
<%#       <th>Size</th> %>
<%#       <th>Price</th> %>
<%#       <th>Expires at</th> %>
<%#       <th></th> %>
<%#       <th></th> %>
<%#       <th></th> %>
<%#     </tr> %>
<%#   </thead> %>

<%#   <tbody> %>
<%#     <% @products.each do |product| %1> %>
<%#       <tr> %>
<%#         <td><%= product.name %1></td> %>
<%#         <td><%= product.description %1></td> %>
<%#         <td><%= product.size %1></td> %>
<%#         <td><%= product.price %1></td> %>
<%#         <td><%= product.expires_at %1></td> %>
<%#         <td><%= link_to 'Show', product %1></td> %>
<%#         <td><%= link_to 'Edit', edit_product_path(product) %1></td> %>
<%#         <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %1></td> %>
<%#       </tr> %>
<%#     <% end %1> %>
<%#   </tbody> %>
<%# </table> %>

<%# <br> %>

<%# <%= link_to 'New Product', new_product_path %1> %>

<%= hakuna_matable_for @products %>
